<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Leonex Typo3 Template</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all"/>

</head>

<body>
		<div class="topbar">
				<div class="topbar-inner">
						<div class="container-fluid">
								<div id="pagetitle" class="brand"></div>

								<div id="searchForm" class="pull-right"></div>
						</div>
				</div>
		</div>


		<div class="container-fluid">

				<div class="sidebar" >
						<div class="well">
								<div id="mainMenu"></div>
						</div>
				</div>

				<div class="content">
						<div id="claim" class="hero-unit"></div>

						<!--TYPO3SEARCH_begin-->
						<div id="t3content"></div>
						<!--TYPO3SEARCH_end-->

						<footer id="footer"> </footer>
				</div>

		</div>
</body>

</html>
