<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Drooff Template</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all"/>

</head>

<body>
		<div id="mainMenu"></div>
		<div id="searchForm"></div>

		<div id="left"></div>
		<div id="right"></div>
		<div id="border"></div>

		<!--TYPO3SEARCH_begin-->
		<div id="pagetitle"></div>
		<div id="t3content"></div>
		<!--TYPO3SEARCH_end-->

		<div id="footer"></div>
</body>

</html>
